@model IEnumerable<WebApplication2.DataObjects.VolunteerApplication>

@{
    ViewData["Title"] = "Index";

    Paging paging = new Paging();
    int pageNum = 0;

    if (ViewBag.Paging != null)
    {
        paging = ViewBag.Paging;
        pageNum = paging.CurrentPage;
    }
}

<h1>Волонтерские заявки</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Добавить <i class="fa fa-plus-square fa-lg"></i></a>
</p>
<a asp-action="ExportExcel" class="btn btn-sm btn-success">Экспорт <i class="fa fa-download fa-lg"></i></a>


<partial name="_paging" model="@paging" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerOrg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerGroup.WorkType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerOrg.OrgName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.VolunteerApplicationId" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-lg"></i></a>  |
                    <a asp-action="Details" asp-route-id="@item.VolunteerApplicationId" class="btn btn-sm btn-primary ml-1"><i class="fa fa-info-circle fa-lg"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.VolunteerApplicationId" class="btn btn-sm btn-danger ml-1"><i class="fa fa-trash-o fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
