@model IEnumerable<WebApplication2.DataObjects.VolunteerGroup>

@{
    ViewData["Title"] = "Index";

    Paging paging = new Paging();
    int pageNum = 0;

    if (ViewBag.Paging != null)
    {
        paging = ViewBag.Paging;
        pageNum = paging.CurrentPage;
    }
}

<h1>Волонтерские группы</h1>

@if (DB.status != "client" && DB.status != "guest")
                        {
<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Добавить <i class="fa fa-plus-square fa-lg"></i></a>
</p>
<a asp-action="ExportExcel" class="btn btn-sm btn-success">Экспорт <i class="fa fa-download fa-lg"></i></a>
                        }
else
{
<a asp-action="AddVolunteerApplication" class="btn btn-sm btn-light">Оставить заявку <i class="fa fa-plus fa-lg"></i></a>
}

<partial name="_paging" model="@paging" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Station.StationName)
                </td>
                <td>
                    @if (DB.status != "client" && DB.status != "guest")
                    {
                        <a asp-action="Edit" asp-route-id="@item.VolunteerGroupId" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-lg"></i></a>
                        <a asp-action = "Delete" asp-route-id = "@item.VolunteerGroupId" class="btn btn-sm btn-danger ml-1"><i class="fa fa-trash-o fa-lg"></i></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.VolunteerGroupId" class="btn btn-sm btn-primary ml-1"><i class="fa fa-info-circle fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
