@model WebApplication2.DataObjects.Donation

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Пожертвование @Model.DonationId</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationType.DonationTypeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donator.DonatorNickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station.StationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonationId" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-lg"></i></a> 
    <a asp-action="Index">Назадt</a>
</div>
