@model WebApplication2.DataObjects.Station

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
    </dl>
</div>
<div>
    @if (DB.status != "client" && DB.status != "guest")
                        {
        <a asp-action="Edit" asp-route-id="@Model?.StationId" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-lg"></i></a> 
    }
    <a asp-action="Index">Назад</a>
</div>
